body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(../Imagens/background.jpg);
    background-position: top left;
    background-size: cover;
}

header {
    background-color: rgba(59, 59, 59, 0.541);
}

.text-comeco {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-inicial{
    background-color: rgba(26, 25, 25, 0.847);
    text-align: center;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 25px;
    width: 80%;
}

.comeco{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 70px;
    margin-bottom: -60px;
    font-family: "Share Tech", sans-serif;
}

.subtitulo {
    font-size: 1.3rem;
    color: #d0d0d0;
}

.titulo-header {
    font-family: "Share Tech", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-flex;
    margin-left: 27%;
}

.bloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
    gap: 40px;
}

.texto-bloco {
    flex: 1;
    background-color: rgba(26, 25, 25, 0.7);
    padding: 30px 30px;
    border-radius: 8px;
}

.texto-bloco h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.texto-bloco p {
    line-height: 1.6;
    color: #ccc;
}

.imagem-bloco {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem-bloco img {
    width: 320px;
    border-radius: 7px;
    border: 3px solid rgb(170, 170, 170);
    box-shadow: 5px 5px 10px 5px rgba(255, 254, 254, 0.3);
}

.botao {
    display: inline-block;
    margin: 0 50px;
    padding: 20px 45px;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}