body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    background-image: url(../Imagens/background.jpg);
    background-position: top left;
    background-size: cover;
}

header {
    background-color: rgba(59, 59, 59, 0.541);
}

.comeco {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-header {
    font-family: "Share Tech", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-flex;
    margin-left: 35%;
}

.titulo {
    font-size: 70px;
    margin-bottom: -60px;
    font-family: "Share Tech", sans-serif;
}

.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
    gap: 40px;
}

.texto-sobre {
    flex: 1;
    background-color: rgba(26, 25, 25, 0.7);
    padding: 30px 30px;
    border-radius: 8px;
}

.texto-sobre h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.texto-sobre p {
    line-height: 1.6;
    color: #ccc;
}

.imagem-sobre {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem-sobre img {
    width: 300px;
    border-radius: 7px;
    border: 3px solid rgb(170, 170, 170);
    box-shadow: 5px 5px 10px 5px rgba(255, 254, 254, 0.3);
}

.video-sobre {
    flex: 1;
    display: flex;
    justify-content: center;
}

.video-sobre video {
    width: 600px;
    border-radius: 7px;
    border: 3px solid rgb(170, 170, 170);
    box-shadow: 5px 5px 10px 5px rgba(255, 254, 254, 0.3);
}

.navegacao {
    text-align: center;
    padding: 80px 0;
}

.botao {
    display: inline-block;
    margin: 10px 30px;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.rodape {
    background-color: rgba(57, 57, 57, 0.8);
    text-align: center;
    padding: 30px 20px;
    margin-top: 80px;
}

.rodape-nome {
    font-family: "Share Tech", sans-serif;
    font-size: 18px;
    color: #ffffff;
}