body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    background-image: url(Imagens/background.jpg);
    background-position: top left;
    background-size: cover;
}

header {
    background-color: rgba(59, 59, 59, 0.541);
}

.comeco {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 70px;
    margin-bottom: 10px;
    transform: translateY(20px);
    animation: fadeDown 1s ease-out forwards;
    font-family: "Share Tech", sans-serif;
}

.titulo-header {
    font-family: "Share Tech", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-flex;
    margin-left: 27%;
}

.botao {
    display: inline-block;
    margin: 0 50px;
    padding: 20px 45px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.botao::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 15px;
    width: 50%; 
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.botao:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.botao:hover::after {
    transform: translateX(-50%) scaleX(1.4);
}