body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    background-image: url(Imagens/background.jpg);
    background-position: top left;
    background-size: cover;
}

header {
    background-color: rgba(59, 59, 59, 0.541);
}

.comeco {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 70px;
    margin-bottom: -60px;
    font-family: "Share Tech", sans-serif;
}

.titulo-header {
    font-family: "Share Tech", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-flex;
    margin-left: 27%;
}

.botao {
    display: inline-block;
    margin: 0 50px;
    padding: 20px 45px;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}