body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    background-image: url(Imagens/background.jpg);
    background-position: top left;
    background-size: cover;
}

.comeco {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 70px;
    margin-bottom: 10px;
    transform: translateY(20px);
    animation: fadeDown 1s ease-out forwards;
    font-family: "Share Tech", sans-serif;
}

.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
    gap: 40px;
}

.texto-sobre {
    flex: 1;
    background-color: rgba(26, 25, 25, 0.7);
    padding: 30px 30px;
    border-radius: 8px;
}

.texto-sobre h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.texto-sobre p {
    line-height: 1.6;
    color: #ccc;
}

.imagem-sobre {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem-sobre img {
    width: 300px;
    border-radius: 7px;
    border: 3px solid rgb(170, 170, 170);
    box-shadow: 5px 5px 10px 5px rgba(255, 254, 254, 0.3);
}

.video-sobre {
    flex: 1;
    display: flex;
    justify-content: center;
}

.video-sobre video {
    width: 600px;
    border-radius: 7px;
    border: 3px solid rgb(170, 170, 170);
    box-shadow: 5px 5px 10px 5px rgba(255, 254, 254, 0.3);
}

.botao {
    display: inline-block;
    margin: 10px 30px;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.botao::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 60%; 
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.botao:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.botao:hover::after {
    transform: translateX(-50%) scaleX(1);
}